# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Builds
dist/
build/
out/
.next/

# Turbo
.turbo/

# Tests
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Prisma / local databases
*.db
*.db-journal

# Electron
release/